h1 {
  font-size: 2rem;
  font-weight: bolder;
}

h2 {
  font-size: 1.8rem;
}

.option {
  margin-right: 30px;
}

.flag {
  width: 60px;
}

.img-language {
  width: 25px;
  box-shadow: 3px 3px #888888;
}

.people-card {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 4px;
  margin: 4px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.data {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#filterOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.language {
  font-size: 0.8rem;
}
